In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("/Users/macuser/Downloads/IRIS.csv")
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
data=df.values

In [4]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [6]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [7]:
x=data[:,0:3]
y=data[:,4]

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [9]:
from sklearn.linear_model import LogisticRegression
model_LR = LogisticRegression()
model_LR.fit=(x_train,y_train)

In [10]:
from sklearn.metrics import accuracy_score
model_LR = LogisticRegression()
model_LR.fit(x_train, y_train)
predictions_LR = model_LR.predict(x_test)
accuracy_LR = accuracy_score(y_test, predictions_LR)
print("Logistic Regression Accuracy:", accuracy_LR * 100)

Logistic Regression Accuracy: 90.0

In [12]:
from sklearn.metrics import classification_report
report_LR = classification_report(y_test, predictions_LR)
print("Classification Report:")
print(report_LR)

Classification Report:
                 precision    recall  f1-score   support

    Iris-setosa       1.00      1.00      1.00        12
Iris-versicolor       0.75      1.00      0.86         9
 Iris-virginica       1.00      0.67      0.80         9

       accuracy                           0.90        30
      macro avg       0.92      0.89      0.89        30
   weighted avg       0.93      0.90      0.90        30

In [13]:
X_new = np.array([[3, 2, 1, 0.2], [4.9, 2.2, 3.8, 1.1], [5.3, 2.5, 4.6, 1.9]])

X_new_subset = X_new[:, :3]

if X_new_subset.shape[1] != x_train.shape[1]:
    raise ValueError(f"Number of features in X_new ({X_new_subset.shape[1]}) doesn't match the trained model ({x_train.shape[1]})")


predictions_new = model_LR.predict(X_new_subset)

print("Prediction of Species for New Input Vectors:", predictions_new)

Prediction of Species for New Input Vectors: ['Iris-setosa' 'Iris-versicolor' 'Iris-versicolor']